*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gradient:linear-gradient(to right,  #1268ae,#1414a2);
    --gradient2:linear-gradient(to right,  #ae6a12,#db7928);
    --corPrimaria:#E8771E;
    --corSecundaria:#3a6ca7;

}

html{
    font-family: 'Alexandria', 'Open Sans','Outfit', sans-serif;
    height: 100vh;
    font-size: 14px;
}

body{
    background-image: url("backGree2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100vh;
}

.container{
    max-width:540px;
    /* height: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    /* color: white; */
}

h2{
    text-align: center;
}
h6{
    font-size: 12px;
    text-align: center;
}

.img{
    width: 50%;
    margin-top: 10px;
    border-radius: 15px;
}

/* heder */

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
}

.foto{
    border-radius: 50%;
    width: 290px;
    margin-top: -100px;
}

.username{
    font-weight: 400;
    font-size: 2em;
    margin: 16px 0;
    margin-top: -50px;
}

.description{
    font-size: 1em;
    text-align: center;
    margin-bottom: 5%;
}

.sp1{
    color: var(--corPrimaria);
}

.sp2{
    color: var(--corSecundaria);
}

.description{
    color: var(--corSecundaria);
    font-size: 1.2em;
}


/* links */

/* .list{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    gap: 1.5em;
    
} */

.list-item{
    background: var(--gradient2);
    font-size: 1.6em;
    height: 3em;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.summary{
    background: var(--gradient);
}
.inicio{
    color: white;
    margin-bottom: -3px;
}
 i{
    font-size: 1.5em;
    color: white;
 }
 .btn{
    font-size: 1.5em;
 }

 .accordion{
    
    --bs-accordion-btn-bg:var(--corPrimaria);
    --bs-accordion-active-bg:var(--corSecundaria);
    --bs-accordion-btn-color:white;
    --bs-accordion-active-color:white;
    --bs-accordion-btn-focus-box-shadow:none;
    --bs-accordion-btn-focus-border-color:none;
 }

.redes{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 45px;
}
a{
    color: white; 
    text-decoration: none;
}
 a::after{
    color: white;
 }

 /* footer */

 footer{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
 }

 .contact{
    background: var(--gradient);
    padding: 0.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
 }

/* media */

@media (min-width: 815px) {
    html{
        font-size: 18px;
    }
    body{
        background-image: url("backgree2.jpg");
    }

   

}

